<div class="container col-md-6">
  <div class="container">
    <div class="color">
      <h1>
        <%= image_tag 'pokemon-ball.png', width: '6%' %>&nbsp;&nbsp;
          Home of PokéSearch!&nbsp;&nbsp;
        <%= image_tag 'pokemon-ball.png', width: '6%' %>
      </h1>
    </div>

    <h3>Search for Pokémon below</h3>

    <p>Enter an number between 1-721 to discover a Pokémon of unknown origins!</p>

    <%= render 'form' %>

    <div class="lower_pad"></div>

    <div class="divider"></div>

  </div>

  <div class="container">
    <h2 class="stats">PokéStats</h2>

    <div>
      <% unless @data.nil? %>
        
        <p>Pokémon Name: <span class="bold_text"><%= @data['name'].capitalize %></span></p>

        <%= image_tag @data['sprites']['front_default'] %>    
           
        <p>Weight: <%= @data['weight'] %></p>
        <p>Pokédex ID: <%= @data['id'] %></p>

        <p><span class="bold_text">Abilities:</span></p>
        
        <ol>
          <% @data['abilities'].each do |x| %>
            <li><%= x['ability']['name'].capitalize %></li>
          <% end %>
        </ol>

        <div>
          <%= image_tag @giphy['data'][0]['images']['fixed_height']['url'] %>
        </div>
      <% end %>
    </div>
  </div>
</div>